<h1>Here are the projects Taskers have made for you to complete</h1>

<% @projects.each do |p| %>
    <li> <a href="/projects/<%= p.id %>"><%= p.title %></a> </li>
    
<% end %>

<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>



<h4><%=link_to "Make a Project", '/projects/new', method: :get %></h4>

<h4><%=link_to "Level 5 Priority Projects", '/projects/high_priority', method: :get %></h4>
</ul>
<h5><%= link_to "Return to HomePage", '/sessions/home', method: :get%></h5>