<h1>Here Taskers make new Projects to complete!</h1>

<%= form_with model: @project, local: true do |f| %>
    <%= f.label :Title%><br>  
    <%= f.text_field :title%><br> 
    <%= f.label :Description%><br>  
    <%= f.text_area :description, size: "60x5" %> <br> 
    <%= f.label :Priority%><br>  
    <%= f.text_field :priority%><br>
    <%= f.submit "Create Project"%> 
    
    
<% end %>

<%= button_to "Return to Project Homepage", '/projects/index', method: :get%>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>