<h1> <%= @project.title %> Priority <%= @project.priority %></h1>

<h2> <%= @project.description %> </h2>

<%= button_to "To make tasks for this project", '/projects/1/tasks/new', method: :get%>
<%= button_to "Return to Project Homepage", '/projects/index', method: :get%> </br>

