<h1> <%= @project.title %> Priority <%= @project.priority %></h1>

<h3> <%= @project.description %> </h3>
<%= @project.id %> <br>
<a href= "/projects/<%= @project.id %>/tasks/new"> "Make Tasks for this project" </a>


<%= button_to "Return to Project Homepage", '/projects/index', method: :get%> </br>

