<h1> <%= @project.title %> </h1>
<h2> Priority <%= @project.priority %> </h2s>
<h3> <%= @project.description %> </h3>
<a href= "/projects/<%= @project.id %>/tasks/new"> Make Tasks for this project! </a>

<% Task.all.each do |t| %>
    <li> <%= t.objective %> </li>
<% end %>

<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= button_to "Return to Project Homepage", '/projects', method: :get%> </br>

